.focus{
    width:100vw;
    height:100vh;
    top:0px;
    left:0px;
    position:fixed;
    z-index:2;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,0) 50%, rgb(47, 47, 48) 100%);
    overflow:none;

}
    .notFocus{
        width:0;
        height:0;
    }

.OptimizationOption{
    text-align: center;
    position:relative;
    z-index:4;
    
}
    .OptimizationOption > *{
        margin:5px;    
    }
        .OptimizedHeader > h3{
            color:rgb(56, 56, 56);    
        }
        .OptimizedHeader >*{
            display:inline-block;
            margin:5px;
            vertical-align: middle;
        }