.layerSelection{
    width:75px;
    height: 75px;

    z-index:10000000;

    border-radius: 10px;
    padding:2.5px;
    float:left;
}

    .disablePreviewMap{
        cursor:pointer;
        position:absolute;
        width:70px;
        height: 70px;
        
        z-index:5000;
        color:rgb(255, 255, 255);
        background-color:rgba(0, 0, 0, 0.493);
        text-align: center;
        padding-top:25px;
        border-radius: 10px;

        border:1.5px solid rgb(70, 70, 70);
    }
    .previewMap{
        width:70px;
        height: 70px;
        border-radius: 10px;
        
    }
        .disablePreviewMap:hover{
            border:1.5px solid #36a7f3!important;
            
        }

.popover{
    background-color:rgba(255, 255, 255, 0.589);
    max-width:50vw;
}